<!doctype html>
<html lang="{{ site:short_locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title ?? site:name }}</title>
    <link rel="icon" href="{{ company:icon }}" type="image/x-icon"/>
    {{ partial:scripts }}
    {{ partial:font-scripts }}
    {{ vite src="resources/js/site.js|resources/css/site.scss" }}
</head>
<body>
<nav>
    {{ partial:nav }}
</nav>
<main class="flex-grow">
    {{ template_content }}
</main>
<footer>
    {{ partial:footer }}
</footer>
</body>
</html>
